.site-footer{
	background-color: #d74a5b;
	padding-top: 15px;

	ul{
		li{
			display: inline;
			margin: 0px 2px;
			img{
				width: 6%;
				padding:0px;
			}
		}
	}
	p{
		font-weight: 200;
		color: #ffffff;
		font-size: 0.7em;
	}
	@include media-query($on-palm) {
		text-align: center;
	}
}