.first-home{
	background-image: url(/assets/images/bgTopoHome.png);
    display: flex;
    padding: 10px;
    @extend %base-section-home-height;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
    	padding: 0px 20px;
    	img{
    		width: 100;
    	}
    }
    p{
    	@extend %texto-home;
    }
    @include media-query($on-palm) {
    	text-align: center;
   	}
}

.first-about{
    @extend %base-section-home;
    @extend %base-section-home-height;
	h2{
		@extend %title-sections-pages;
		@extend %title-h2-default;
	}
	p{
		@extend %texto-home;
	}

	@include media-query($on-palm) {
		text-align: center;

		img{
			width: 50%;
    		margin-top: 10px;
		}
	 }
}

.first-portifolio{
    @extend %base-section-home;
    background-color: #fbfbfb;

	h2{
		@extend %title-sections-pages;
		@extend %title-h2-default;
	}
	p{
		@extend %texto-home;
		margin:0px;
	}

	h3{
		color: $brand-color;
		padding: 10px;
		margin:0px;
	}

	.jobs{
		background-color:#e8e6e6;
		-webkit-box-shadow: 10px 11px 32px -22px rgba(0,0,0,0.69);
		-moz-box-shadow: 10px 11px 32px -22px rgba(0,0,0,0.69);
		box-shadow: 10px 11px 32px -22px rgba(0,0,0,0.69);
		padding-bottom: 20px;
	}
	@include media-query($on-palm) {
		text-align: center;
		.jobs{
		    width: 90%;
    		margin: 0 auto;
    	}
	 }
}

.first-services{
	@extend %base-section-home;
	h2{
		@extend %title-sections-pages;
		@extend %title-h2-default;
	}
	
	.type-jobs{
		margin: 35px 0px;
		.boxSVG{
			width: 30%;
			margin: 0 auto;
		}
		h3{
			color: #4a4a4a;
			font-weight: 200;
			font-size: 1.5em;
			margin-bottom: 0px;
			span{
				color: #979595;
			}
		}
		p{
			color: #979595;
			font-weight: 200; 

		}
	}
	@include media-query($on-palm) {
		text-align: center;
	}
}

.first-habilit{
	@extend %base-section-home;
	background-color: #fbfbfb;
	h2{
		@extend %title-sections-pages;
		@extend %title-h2-default;
	}
	.skillbar {
		display:block;
		margin-bottom:15px;
		width:100%;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-webkit-transition:0.4s linear;
		-moz-transition:0.4s linear;
		-ms-transition:0.4s linear;
		-o-transition:0.4s linear;
		transition:0.4s linear;
		-webkit-transition-property:width, background-color;
		-moz-transition-property:width, background-color;
		-ms-transition-property:width, background-color;
		-o-transition-property:width, background-color;
		transition-property:width, background-color;
		background-color:#ebebeb;
	}

	.skillbar-title{
		background-color: #fbfbfb;
	}

	.skillbar-title span {
		font-weight: 200;
		font-size: 1.6em;
	}

	.skill-bar-title{
		color:#494747;
	}

	.skillbar-bar {
		height: 10px;
		width:0px;
		background:#6adcfa;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}

	.skill-bar-percent {
		color:#adadad;
	}
	@include media-query($on-palm) {
		text-align: center;
	}
}
.first-contact{
	@extend %base-section-home;
	h2{
		@extend %title-sections-pages;
		@extend %title-h2-default;
	}
	.email-home{
		margin-bottom: 20px;
		img{
			width: 8%;
		}
		span{
			color: #979595;
			font-weight: 200; 
		}
	}
	@include media-query($on-palm) {
		text-align: center;
	}
}