section.jobs{
	@extend %base-section-home;

	header.page-header{

		h1.page-title{
			@extend %title-sections-pages;
		}
	}
	.jobs{
		background-color:#e8e6e6;
		-webkit-box-shadow: 10px 11px 32px -22px rgba(0,0,0,0.69);
		-moz-box-shadow: 10px 11px 32px -22px rgba(0,0,0,0.69);
		box-shadow: 10px 11px 32px -22px rgba(0,0,0,0.69);
		padding-bottom: 20px;


		h3{
			color: $brand-color;
			padding: 10px;
			margin:0px;
		}
	}
	@include media-query($on-palm) {
		text-align: center;
		.jobs{
		    width: 100%;
    		margin: 0 auto;
    		margin-bottom: 50px;
    	}
	}
}