section.lista-posts{
	@extend %base-section-home;

	header.page-header{

		h1.page-title{
			@extend %title-sections-pages;
		}
	}
	
	.post{
		text-align: left;
		border-bottom: 2px dotted #f3f3f3;
		.post-date{
			font-weight: 300;
		    font-size: 0.8em;
		    color: #ccc;
		}
		.post-header{
			margin-bottom: 0px;
			.post-title{
				font-weight: 300;
			    font-size: 2em;
	    		margin-bottom: 5px;
	    		text-align: left;
	    		a{
	    			color: #50585D;
	    		}
			}
		}
	}

	@include media-query($on-palm) {
		text-align: center;
	}

	.post-list {
	  margin-left: 0;
	  list-style: none;

	  > li {
	    margin-bottom: $spacing-unit;
	  }
	}

	.post-meta {
	  font-size: $small-font-size;
	  color: $grey-color;
	}

	.post-link {
	  display: block;
	  @include relative-font-size(1.5);
	}
}

section.posts{
	@extend %base-section-home;

	header.post-header{

		h1.post-title{
			@extend %title-sections-pages;
			font-size: 2.5em;
		}
	}
}



