section.contato{
	@extend %base-section-home;

	header.page-header{

		h1.page-title{
			@extend %title-sections-pages;
		}
	}

	input, textarea{
	    overflow: visible;
	    border: 1px solid rgba(204, 204, 204, 0.26);
	    width: 70%;
	    border-radius: 4px;
	    height: 28px;
	    margin-bottom: 15px;
	    -webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		outline:none;
		color: #ccc;
		font-weight: 200;
		font-family: $base-font-family;
		padding-left: 10px;
		&:focus{
			-webkit-box-shadow: 9px 11px 16px -4px rgba(232,232,232,0.42);
			-moz-box-shadow: 9px 11px 16px -4px rgba(232,232,232,0.42);
			box-shadow: 9px 11px 16px -4px rgba(232,232,232,0.42);		
		}
		&::placeholder{
			opacity: 0.4;
		}
	}

	textarea{
	    height: 70px;
	    padding-top: 10px;
	}

	.btn-envia-form{
		background-color: $brand-color;
		height: 40px;
    	font-size: 20px;
    	color: #fff;
	}

	@include media-query($on-palm) {
	    text-align: center;
	    height: 100vh;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	
}