---
layout: default
---

<div class="home">

<section class="firt-home">
    <h1 class="logo-page">
      <img src="/assets/images/logo-vinicius-mazzeo.png" alt="Logo Vinicius Mazzeo FrontEnd Developer">   
    </h1>
    <p>
      <
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel turpis quam. Sed hendrerit 
        mollis malesuada. Vivamus hendrerit cursus nulla ac mollis
      />
    </p>
</section>
  
  
 

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
