---
layout: default
---

<div class="home">

<section class="first-home">
  <div class="wrapper">
      <h1 class="logo-page">
        <img src="/assets/images/logo-vinicius-mazzeo.png" alt="Logo Vinicius Mazzeo FrontEnd Developer">   
      </h1>
      <p>
        <
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel turpis quam. Sed hendrerit 
          mollis malesuada. Vivamus hendrerit cursus nulla ac mollis
        />
      </p>
  </div>
</section>

<section class="first-about">
  <div class="wrapper">
    <h2>< About /></h2>
    <img src="/assets/images/about-home.jpg" alt="Vinicius Mazzeo FrontEnd developer">
    <p>
      < Phasellus quis tellus sem. Fusce pharetra consequat ultricies. Aenean eleifend pellentesque sapien, id luctus metus sodales non. Morbi nunc mi, pretium ultrices ullamcorper ut, vestibulum aliquet arcu. Nam auctor est eros. Phasellus odio velit, luctus eget quam. />
    </p>
    <a href="/about/">< veja mais /></a>
  </div>
</section>
  
  
 

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
